<!DOCtype>
<html ng-app="shopping_cart">
<head>
    <link rel="stylesheet" href="/css/style.css">
    
    </head>
<body>
    <p>This is Home Page</p>
    <div ng-controller="home_controller">
    
    
    
    <nav-bar></nav-bar>
    <div nav-bar> </div>
    
    </div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <script type="text/javascript" src="/node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="/node_modules/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="/js/shopping_cart.js"></script>
    <script type="text/javascript" src="/js/controllers/home_controller.js"></script>
    <script type="text/javascript" src="/js/services/product_type_service.js"></script>
    <script type="text/javascript" src="/js/directives/leftNav.js"></script>
    
    
    
    </body>
</html>