<!DOCTYPE html>
<html>
    
    <head>
        <title> IACO </title>
    
    
    </head>
    <body>
    
    
    <h1>Playing with JS</h1>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
        
        
        
<script type="text/javascript" src="/project_7/src/js/array_function.js"></script>        
<script type="text/javascript" src="/project_7/src/js/arrays.js"></script>        
<script type="text/javascript" src="/project_7/src/js/first.js"> </script>        
    </body>
</html>