<!DOCTYPE html>
<html>
<head>
    
    <link rel="stylesheet" href="/css/style.css">
    
    </head>

    
    <h1>          Some index contents      </h1>
    
   <body ng-app = 'shoppingCart'>  
       
       
       
       
    
    <div ng-controller = 'appCtrl'>
        
        <app-title>  </app-title>         <!--  //using as an element -->
        <div app-title>   </div>           <!--//using as attribute-->
        <div class="app-title"> </div>   <!--// using as class-->
        <nav-bar></nav-bar>
<!--
        <ol class="flex-container">
    <li ng-repeat ='itemType in itemTypes' class="flex-item">
        {{itemType}}
    </li>
        
</ol>
-->
        
<!--
    <input type="text" ng-model="person.name" id="name">
        
        {{person.name}}    //this two way binding
        {{::person.name}}   //this is single way binding
        
        
        
-->
    
    </div>
       
       
       <div ng-controller="appCtrl1">
       
       This is the part where we can access values from the controller
       
       </div>
       
       <diV>



</diV>
       
       
    
<script type="text/javascript" src="/node_modules/angular/angular.js"></script>
<script type="text/javascript" src="/js/project_1.js"></script>
<script type="text/javascript" src="/js/controllers/appCtrl.js"></script>
<script type="text/javascript" src="/js/directives/appTitle.js"></script>
<script type="text/javascript" src="/js/directives/navBar.js"></script>
<script type="text/javascript" src="/js/services/itemTypeService.js"></script> 
<script type="text/javascript" src="/js/controllers/appCtrl1.js"></script>
       
    </body>
</html>