<!DOCTYPE html>
<html>
<head>
    
    <link rel="stylesheet" href="/css/style.css">
    
    </head>

    
    <h1>          Some index contents      </h1>
    
   <body ng-app = 'shoppingCart'>  
       
       
       
       
    
    <div ng-controller = 'AppCtrl'>
        
        <app-title>  </app-title>         <!--  //using as an element -->
        <div app-title>   </div>           <!--//using as attribute-->
        <div class="app-title"> </div>   <!--// using as class-->
        
    <input type="text" ng-model="person.name" id="name">
        
        {{person.name}}    //this two way binding
        {{::person.name}}   //this is single way binding
        
        
        <ol class="flex-container">
    <li ng-repeat ='itemTypes in itemTypes'>
    {{itemTypes}}
        </li>
        
    </ol>
    
    </div>
       
       <diV>



</diV>
       
       
    
<script type="text/javascript" src="/node_modules/angular/angular.js"></script>
<script type="text/javascript" src="/js/project_1.js"></script>
<script type="text/javascript" src="/js/controllers/AppCtrl.js"></script>
<script type="text/javascript" src="/js/directives/appTitle.js"></script>       
    </body>
</html>