<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="/assignment_5/node_modules/bootstrap/dist/css/bootstrap.css">
    
    </head>
    <body>
        
        
    <div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/assignment_5/static/images/iphone_7.png" alt="...">
      <div class="caption">
        <h3> iPhone 7 </h3>
        <p> Retina HD display
4.7-inch (diagonal) LED-backlit widescreen
Multi-Touch display with IPS technology
1334-by-750-pixel resolution at 326 ppi
1400:1 contrast ratio (typical) 
          <br>
          Wide color display (P3)
625 cd/m2 max brightness (typical)
Dual-domain pixels for wide viewing angles
Fingerprint-resistant oleophobic coating
Support for display of multiple languages and characters simultaneously
Display Zoom
Reachability</p>
        <p><a href="#" class="btn btn-primary" role="button">Add to Cart</a> </p>
      </div>
    </div>
  </div>
</div>
    
    
        
        
      <script type="text/javascript" src="/assignment_5/node_modules/jquery/dist/jquery.js"></script>  
        <script type="text/javascript" src="/assignment_5/node_modules/bootstrap/dist/js/bootstrap.js"></script>
    
    </body>
    
    
    
</html>