<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/project_8/css/style.css">
        <link rel="stylesheet" href="/project_8/node_modules/bootstrap/dist/css/bootstrap.css">
        
    
    
    
    </head>
<body>
    <h1 class="headingcolor"> Heading one</h1>
    <div id="person">
    space for person object to load
    
    </div>
    <button id="Submit" onclick="loadPerson()">
    LOAD
    </button>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <script type="text/javascript" src="/project_8/js/person.js"></script>
    </body>

</html>